<%- include('blog/antes-body.ejs'); -%>

<body>
<%- include('blog/body-header.ejs'); -%>
<main>
    <% articulos.forEach(function(articulo){ %>
        <article>
            <header>
                <h2><%- articulo.titulo %></h2>
                <p><%- articulo.descripcion %></p>
                <% if (articulo.imagen) {%>
                    <img src='<%= articulo.imagen %>' style='max-width: 40%' alt='<%= articulo.alternativo %>' />
                <%}%>
            </header>
                <section>
                    <%- articulo.cuerpo %>
                </section>
            <footer>
                <p>by <strong><%= articulo.autor %></strong></p>
            </footer>
        </article>
        <br>
    <%});%>

</main>
<%- include('blog/body-footer.ejs') %>
</body>